<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="static/estilo.css">
</head>
<body id="home">
    <img id="logo-home" src="/static/img/Logo texto.png">
   
    <div class="botoes">
        <a href="/home/adicionar-item"> + Adicionar um item</a>
        <br>
    </div>
    
      <br>
      <br>
  <input type="button" onclick="window.location.href='/home/excluir-usuario'" value = "excluir usuario">
</body>
</html>