<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/estilo.css" />
  </head>
  <body id="home">
    <img id="logo-home" src="/static/img/copia.jpeg" />

    <section class="my-creations">
      <div class="item-e-add">
      <h2>Meus Itens</h2>
      <a href="/home/adicionar-item"> + Adicionar um item</a>
      </div>
      <br />
      <br />
      <br />
      <br />
      <div class="cards-container">
        {% for item in produtos %}
        <div class="card">
          <img src="{{item[5]}}" alt="" />
          <div class="card-content">
            <h3>{{item[1]}}</h3>
            <p>Quantidade: {{item[2]}}</p>
            <p>Preço: {{item[3]}}</p>
          </div>
          <input
            type="button"
            onclick="window.location.href='/home/editar-item/{{item[0]}}'"
            value="editar"
          />
          <input
            type="button"
            onclick="window.location.href='/home/excluir-item/{{item[0]}}'"
            value="excluir"
          />
        </div>
        {% endfor %}
      </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <div class="botoes">
      <br />
      <br />
      <br />
    </div>
    <br />
    <input
      type="button"
      onclick="window.location.href='/home/excluir-usuario'"
      value="excluir usuario"
    />
    <br>
    <br>
    <br>
  </body>
</html>
