<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/static/estilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Supermercado</title>
    <link rel="shortcut icon" href="static/img/imagem.jpg" type="image/x-icon">
</head>
<body id="index">
<div class="conteiner">

    <div class="imagem-principal">
        <img src="/static/img/lista.jpeg" alt="Minha Figura">
    </div>
    
    <div class="inicio">
        
        <h1>Bem-vindo</h1>
        
        <div class="botoes">
            <a href="/home/login">Login</a>
            <br>
            <a class="botao-secundario" href="/home/cadastro">Cadastrar-se</a>
        </div>
    </div>
</body>
</html>